#contact
    width: 85%
    margin: 0 auto
    padding: 50px 0px

    .section-title
        font-size: 2rem
        text-transform: uppercase
        line-height: 2
        letter-spacing: 2px
        font-weight: 600
        margin-bottom: 30px
        background: linear-gradient(to bottom,#fff, #666)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    .section-body
        display: flex
        justify-content: space-evenly

        div
            align-self: center

        .section-desc
            font-size: 1.2rem
            line-height: 1.5
            text-align: justify
            width: 85%
            padding-right: 30px
            line-height: 1.5

            .link-mail
                text-align: center
                position: relative
                margin-top: 40px

                .btn-under-effect
                    margin: 0 auto
                    // background: #222
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(204,204,204,1)
                    -moz-box-shadow: 0px 0px 0px 1px rgba(204,204,204,1)
                    box-shadow: 0px 0px 0px 1px rgba(204,204,204,1)
                    padding: 5px 15px
                    height: 50px
                    width: fit-content
                    min-width: 305px
                    border: none
                    color: #eee
                    font-size: 40px
                    font-family: 'Cookie', cursive
                    position: relative
                    transition: 400ms
                    -webkit-tap-highlight-color: transparent
                    display: flex
                    align-items: center
                    justify-content: center
                    cursor: pointer

                    .circle
                        width: 5px
                        height: 5px
                        background: transparent
                        border-radius: 50%
                        position: absolute
                        top: 0
                        left: 50%
                        overflow: hidden
                        transition: 500ms

                    .noselect
                        -webkit-touch-callout: none
                        -webkit-user-select: none
                        -khtml-user-select: none
                        -moz-user-select: none
                        -ms-user-select: none
                        user-select: none

                    &:hover
                        background: transparent
                        -webkit-box-shadow: 0px 0px 0px 0px rgba(204,204,204,1)
                        -moz-box-shadow: 0px 0px 0px 0px rgba(204,204,204,1)
                        box-shadow: 0px 0px 0px 0px rgba(204,204,204,1)

                        .circle
                            height: 50px
                            width: 100%
                            left: 0
                            border-radius: 0
                            border-bottom: 2px solid #eee

                // a
                //     // border: 1px solid #ccc
                //     padding: 5px 15px
                //     text-decoration: none
                //     -webkit-box-shadow: 0px 0px 0px 1px rgba(204,204,204,1)
                //     -moz-box-shadow: 0px 0px 0px 1px rgba(204,204,204,1)
                //     box-shadow: 0px 0px 0px 1px rgba(204,204,204,1)
                //     background: linear-gradient(to bottom,#eee, #888)
                //     -webkit-background-clip: text
                //     -webkit-text-fill-color: transparent
                //     transition: 1s all

                //     &:hover
                //         -webkit-background-clip: border-box
                //         -webkit-text-fill-color: #333
                //         background: linear-gradient(to bottom,#eee, #888)
                //         color: #333

        .contact-links
            width: 15%
            border-left: 1px solid #ccc
            padding-left: 30px
            height: 100%

            .links
                a
                    background: transparent
                    width: fit-content
                    border: 1px solid #ccc
                    padding: 10px 10px
                    display: flex
                    border-radius: 50%
                    outline: none
                    margin: 30px 0px

                    &:hover
                        background: linear-gradient(to bottom,#eee, #888)
                        svg
                            fill: black

                    svg
                        margin: auto
                        align-self: center
