#footer 
    background-color: #111
    padding: 20px 0px

    .footer-inner 
        margin: 0 auto
        width: 95%
        display: flex
        justify-content: space-between

        .footer-credits
            align-self: center
            p
                font-size: 1rem
        .footer-icons
            svg
                margin: 0px 10px