@import "./mixins"
  
*, *:after, *:before
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif
  color: #ddd
  font-size: 1.2rem
  @include small
    font-size: 1.1rem

    h1, h2, h3
      font-size: 1.2

html
  scroll-behavior: smooth
  background: #333

#root
  background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url("assets/bg.png")
  position: relative

a
  text-decoration: none